body{
    background-color: rgb(91, 25, 25);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.calculator {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.screen{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 400px;
    background-color: azure;
    align-items: flex-end;
    padding: 15px;
}

.top{
    font-size: 35px;
}
.bottom{
    font-size: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row .button{
    width: 100px;
    height: 80px;
    font-size: 40px;
}

.equals {
    height: 80px;
    font-size: 40px;
}
